body {
    background-image: url("../assets/concert.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}
body div {
    margin-top: 200px
}
.window {
    text-align: center;
    list-style-position: inside;
    font-style: color yellow;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

ol {
   position: relative;
   float: left;
   left: 41%;
   font-weight: bolder;

}
.hidden {
    display: none;

}


button {
    background-color: rgb(94, 169, 231);
    font-weight: bold;
    border-radius: 12px;
    font-size: 25px;
    box-shadow: 0 3px gray;
}